<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<!-- <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" id="email" name="email" placeholder="Email / ex:123@email.com" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form> -->
				<form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
					<label for="chk" aria-hidden="true">Sign up</label>
                    <input type="email" id="email" placeholder="Email" class="signIn" formControlName="email"
                            name="email" />
                    <input type="password" id="password" placeholder="Password" class="signIn"
                            formControlName="password" name="password" />
					<input class="signIn" type="submit" value="signup" name="">
                </form>
			</div>
			<div class="login">
				<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
					<label for="chk" aria-hidden="true">Login</label>
                    <input type="email" id="email" placeholder="Email" class="signIn" formControlName="email"
                            name="email" />
                    <input type="password" id="password" placeholder="Password" class="signIn"
                            formControlName="password" name="password" />
					<input class="signIn" type="submit" value="Login" name="">
                </form>
				<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email / ex:123@email.com" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button (click)="onSubmit()"><a routerLink="">Login</a></button>
				</form> -->
			</div>
	</div>
</body>